footer {
    background-color: #048bd3;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e9ecef;
    border-radius: 10px 10px 0 0; /* Apply a 10% border radius to the top corners only */
}
