.hero {
    display: flex;
    align-items: center;
    background-color: #048bd3;
    border-radius: 10px;
    padding-top: 60px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.hero-image img {
    max-width: 100%;
    width: 400px;
    height: auto;
    
}

.hero-content {
    flex-grow: 1; /* Allows the content to take up remaining space */
    padding-left: 20px; /* Adjust spacing as needed */
    padding-right: 20px;
}

.hero-content h1,
.hero-content p {
    margin: 0; /* Remove default margins */
    
}

.text-primary {
    color: #fff !important;
}
