.text-bubble p {
    color: rgb(69, 69, 69);
    margin: 10px 0; /* Add vertical margin to separate paragraphs */
    padding: 10px;
    background-color: rgb(197, 197, 197);
    border-radius: 50px;
}

.link-bubble p {
    color: rgb(69, 69, 69);
    margin: 10px 0;
    padding: 10px;
    background-color: #98D9FD;
    border-radius: 50px;
}

.timestamp {
    color: rgb(69, 69, 69);
    font-size: 0.8em;
    margin: 10px 0;
    display: inline-flex;
    align-items: center; /* Vertically center the items */
}

.timestamp img {
    width: 40px;
    margin-right: 5px;
}
